<div class="container border">
	<div class="row border">
		<div class="col border">
			<h5>Выбор критериев отбора для поиска физического лица</h5>
		</div>
		<div class="w-100"></div>
		<div class="col border">
			<input onkeyup="ajax_search();" type="text" id="surname" placeholder="Фамилия">
			<input onkeyup="ajax_search();" type="text" id="name" placeholder="Имя">
			<input onkeyup="ajax_search();" type="text" id="patronymic" placeholder="Отчество">
		<div class="w-100"></div>
		<div class="col border find_result"></div>
		</div>
	</div>
</div>